<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sugood.app"
    android:versionCode="4"
    android:versionName="2.2">


    <!-- 使用网络功能所需权限 -->
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <!-- SDK离线地图和cache功能需要读写外部存储器 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->
    <!--<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />-->
    <!--<uses-permission android:name="android.permission.WRITE_SETTINGS" />-->

    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--用于提高GPS定位速度-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!--写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--读取缓存数据-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!--用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- 更改设置 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- 3.2.0版本增加 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 3.2.0版本增加-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!-- 使用网络功能所需权限 -->


    <!-- 获取设置信息和详情页直接拨打电话需要以下权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- 创建快捷方式所需的权限 -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />


    <application
        android:name="com.sugood.app.application.SugoodApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"

        tools:replace="android:icon,android:theme"
        android:theme="@style/AppTheme">

        <!--<meta-data-->
        <!--android:name="com.baidu.lbsapi.API_KEY"-->
        <!--android:value="M5GEU66ODRnKbLMphydwkzOEzqiIO518" />-->

        <!--<service-->
        <!--android:name="com.baidu.location.f"-->
        <!--android:enabled="true"-->
        <!--android:process=":remote" />-->
        <meta-data

            android:name="com.amap.api.v2.apikey"
            android:value="2cec045a1946139055d9d2073d7094f5" />
        <!-- 定位需要的服务 -->
        <service android:name="com.amap.api.location.APSService"></service>
        <activity
            android:name="com.sugood.app.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"/>
        <activity
            android:name="com.sugood.app.activity.WelcomeActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.sugood.app.activity.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>

        <activity
            android:name="com.sugood.app.activity.NearbyActivity"
            android:launchMode="singleTask"></activity>

        <activity
            android:name="com.sugood.app.activity.FangDaiCalActivity"
            android:launchMode="singleTask"></activity>

        <activity
            android:name="com.sugood.app.activity.HomeActivity"
            android:launchMode="singleTask"></activity>

        <activity android:name="com.sugood.app.activity.MineActivity"></activity>

        <activity
            android:name="com.sugood.app.activity.SameCityActivity"
            android:launchMode="singleTask"></activity>

        <activity
            android:name="com.sugood.app.activity.SameCityDetailActivity"
            android:launchMode="singleTask"></activity>

        <activity
            android:name="com.sugood.app.activity.ServiceDemandActivity"
            android:launchMode="singleTask"></activity>


        <activity android:name="com.sugood.app.activity.LoginActivity" />

        <activity
            android:name="com.sugood.app.activity.FunActivity"
            android:launchMode="singleTask" />


        <activity android:name="com.sugood.app.activity.MovieActivity" />
        <activity android:name="com.sugood.app.activity.HotelActivity" />
        <activity android:name="com.sugood.app.activity.KtvActivity" />
        <activity android:name=".activity.GoodFoodActivity" />
        <activity android:name=".activity.ShopDetailActivity" />
        <activity android:name=".activity.TuanGouActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity
            android:name="com.sugood.app.activity.SuperMarketMainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>
        <activity
            android:name="com.sugood.app.activity.SuperMarketTypeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>
        <activity
            android:name="com.sugood.app.activity.SuperMarketDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>
        <activity
            android:name="com.sugood.app.activity.SuperMarketAddressActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>
        <activity
            android:name="com.sugood.app.activity.TakeawayMainActivity"
            android:configChanges="orientation|keyboardHidden"

            android:windowSoftInputMode="adjustPan|stateHidden"></activity>

        <activity
            android:name="com.sugood.app.activity.PaySelectActivity"
            android:configChanges="orientation|keyboardHidden"

            android:windowSoftInputMode="adjustPan|stateHidden"></activity>
        <activity
            android:name="com.sugood.app.activity.PayresultActivity"
            android:configChanges="orientation|keyboardHidden"

            android:windowSoftInputMode="adjustPan|stateHidden"></activity>
        <activity
            android:name="com.sugood.app.activity.TakeawayAboutShopActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>
        <activity
            android:name="com.sugood.app.activity.TakeawayAddressActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>
        <activity
            android:name="com.sugood.app.activity.TakeawayCommentActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>
        <activity
            android:name="com.sugood.app.activity.TakeawayFoodDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>
        <activity
            android:name="com.sugood.app.activity.TakeawayPayActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>
        <activity
            android:name="com.sugood.app.activity.TakeawayRemarkActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>

        <activity
            android:name="com.sugood.app.activity.H5WebActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>
        <activity
            android:name="com.sugood.app.activity.BigImageViewActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>
        <activity
            android:name="com.sugood.app.activity.ForgetPWActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>
        <activity
            android:name="com.sugood.app.activity.TakeawayShopDetailActivity"
            android:configChanges="orientation|keyboardHidden"

            android:windowSoftInputMode="adjustPan|stateHidden">


        </activity>
        <activity
            android:name="com.sugood.app.activity.TakeawaySubmitOrderActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>

        <activity
            android:name="com.sugood.app.activity.UserCollectionActivity"
            android:configChanges="orientation|keyboardHidden"

            android:windowSoftInputMode="adjustPan|stateHidden"></activity>
        <activity
            android:name="com.sugood.app.activity.UserActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>

        <activity
            android:name="com.sugood.app.activity.UserNameActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>
        <activity
            android:name="com.sugood.app.activity.UserOrderActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>
        <activity
            android:name="com.sugood.app.activity.UserRechargeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>
        <activity
            android:name="com.sugood.app.activity.UserRemainderActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>
        <activity
            android:name="com.sugood.app.activity.PhotoPickerActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>
        <activity
            android:name="com.sugood.app.activity.ManageAddressActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>
        <activity
            android:name="com.sugood.app.activity.AddAddressActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>
        <activity
            android:name="com.sugood.app.activity.TuamPIngLunActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>
        <activity
            android:name="com.sugood.app.activity.MapActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.sugood.app.activity.PingLunActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.TakeawayMarketActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".activity.TakeawayMarketDetailActivity" />
        <activity android:name=".activity.TakeawayMarketShopActivity" />
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity android:name=".activity.TakeawayMarketShopDetailActivity" />
        <activity android:name=".activity.AddAddrActivity" />

        <activity android:name=".activity.PhotoViewUI" />
        <activity android:name=".activity.AllCommentActivity" />
        <activity android:name=".activity.UserTakeawayActivity" />
        <activity android:name=".activity.NotificationActivity" />
        <activity android:name=".activity.SettingActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.sugood.app.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                tools:replace="android:name,resource"
                android:resource="@xml/file_paths"
                ></meta-data>
        </provider>

        <activity android:name=".activity.WithDrawAtivity" />
    </application>


</manifest>